<% include ./partials/header.ejs %>
<body class="bg-gray-900 text-white">
  <div class="container mx-auto p-4  ">
    <header class="flex items-center justify-between mb-8">
      <img class="w-1/4" src="/images/logo.png" alt="Instagram Logo" />
      <div class="flex gap-5 items-center">
        <i class="text-[1.4rem] ri-heart-3-line"></i>
        <i class="text-[1.4rem] ri-messenger-line"></i>
      </div>
    </header>
    <div class="story flex gap-3 overflow-auto mb-8">
      <div class="circle flex-shrink-0">
        <div
          class="gradient w-24 h-24 md:w-32 md:h-32 lg:w-40 lg:h-40 bg-sky-100 rounded-full bg-gradient-to-r from-purple-700 to-orange-500 flex items-center justify-center"
        >
          <div
            class="inner w-5/6 h-5/6 md:w-11/12 md:h-11/12 lg:w-11/12 lg:h-11/12 rounded-full overflow-hidden"
          >
            <img
              class="w-full h-full object-cover rounded-full"
              src="https://images.unsplash.com/photo-1531746020798-e6953c6e8e04?q=80&w=2550&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="circle flex-shrink-0">
        <div
          class="gradient w-24 h-24 md:w-32 md:h-32 lg:w-40 lg:h-40 bg-sky-100 rounded-full bg-gradient-to-r from-purple-700 to-orange-500 flex items-center justify-center"
        >
          <div
            class="inner w-5/6 h-5/6 md:w-11/12 md:h-11/12 lg:w-11/12 lg:h-11/12 rounded-full overflow-hidden"
          >
            <img
              class="w-full h-full object-cover rounded-full"
              src="https://images.unsplash.com/photo-1531746020798-e6953c6e8e04?q=80&w=2550&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="circle flex-shrink-0">
        <div
          class="gradient w-24 h-24 md:w-32 md:h-32 lg:w-40 lg:h-40 bg-sky-100 rounded-full bg-gradient-to-r from-purple-700 to-orange-500 flex items-center justify-center"
        >
          <div
            class="inner w-5/6 h-5/6 md:w-11/12 md:h-11/12 lg:w-11/12 lg:h-11/12 rounded-full overflow-hidden"
          >
            <img
              class="w-full h-full object-cover rounded-full"
              src="https://images.unsplash.com/photo-1531746020798-e6953c6e8e04?q=80&w=2550&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="circle flex-shrink-0">
        <div
          class="gradient w-24 h-24 md:w-32 md:h-32 lg:w-40 lg:h-40 bg-sky-100 rounded-full bg-gradient-to-r from-purple-700 to-orange-500 flex items-center justify-center"
        >
          <div
            class="inner w-5/6 h-5/6 md:w-11/12 md:h-11/12 lg:w-11/12 lg:h-11/12 rounded-full overflow-hidden"
          >
            <img
              class="w-full h-full object-cover rounded-full"
              src="https://images.unsplash.com/photo-1531746020798-e6953c6e8e04?q=80&w=2550&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="circle flex-shrink-0">
        <div
          class="gradient w-24 h-24 md:w-32 md:h-32 lg:w-40 lg:h-40 bg-sky-100 rounded-full bg-gradient-to-r from-purple-700 to-orange-500 flex items-center justify-center"
        >
          <div
            class="inner w-5/6 h-5/6 md:w-11/12 md:h-11/12 lg:w-11/12 lg:h-11/12 rounded-full overflow-hidden"
          >
            <img
              class="w-full h-full object-cover rounded-full"
              src="https://images.unsplash.com/photo-1531746020798-e6953c6e8e04?q=80&w=2550&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="circle flex-shrink-0">
        <div
          class="gradient w-24 h-24 md:w-32 md:h-32 lg:w-40 lg:h-40 bg-sky-100 rounded-full bg-gradient-to-r from-purple-700 to-orange-500 flex items-center justify-center"
        >
          <div
            class="inner w-5/6 h-5/6 md:w-11/12 md:h-11/12 lg:w-11/12 lg:h-11/12 rounded-full overflow-hidden"
          >
            <img
              class="w-full h-full object-cover rounded-full"
              src="https://images.unsplash.com/photo-1531746020798-e6953c6e8e04?q=80&w=2550&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="circle flex-shrink-0">
        <div
          class="gradient w-24 h-24 md:w-32 md:h-32 lg:w-40 lg:h-40 bg-sky-100 rounded-full bg-gradient-to-r from-purple-700 to-orange-500 flex items-center justify-center"
        >
          <div
            class="inner w-5/6 h-5/6 md:w-11/12 md:h-11/12 lg:w-11/12 lg:h-11/12 rounded-full overflow-hidden"
          >
            <img
              class="w-full h-full object-cover rounded-full"
              src="https://images.unsplash.com/photo-1531746020798-e6953c6e8e04?q=80&w=2550&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="circle flex-shrink-0">
        <div
          class="gradient w-24 h-24 md:w-32 md:h-32 lg:w-40 lg:h-40 bg-sky-100 rounded-full bg-gradient-to-r from-purple-700 to-orange-500 flex items-center justify-center"
        >
          <div
            class="inner w-5/6 h-5/6 md:w-11/12 md:h-11/12 lg:w-11/12 lg:h-11/12 rounded-full overflow-hidden"
          >
            <img
              class="w-full h-full object-cover rounded-full"
              src="https://images.unsplash.com/photo-1531746020798-e6953c6e8e04?q=80&w=2550&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="circle flex-shrink-0">
        <div
          class="gradient w-24 h-24 md:w-32 md:h-32 lg:w-40 lg:h-40 bg-sky-100 rounded-full bg-gradient-to-r from-purple-700 to-orange-500 flex items-center justify-center"
        >
          <div
            class="inner w-5/6 h-5/6 md:w-11/12 md:h-11/12 lg:w-11/12 lg:h-11/12 rounded-full overflow-hidden"
          >
            <img
              class="w-full h-full object-cover rounded-full"
              src="https://images.unsplash.com/photo-1531746020798-e6953c6e8e04?q=80&w=2550&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt=""
            />
          </div>
        </div>
      </div>

      <!-- Repeat the above block for other circles -->
    </div>

    <div class="posts grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <% postss.reverse().forEach(function(elem){%>
        <div class="post">
          <div class="title px-4 flex items-center gap-2">
            <div class="w-8 h-8 md:w-12 md:h-12 bg-sky-100 rounded-full overflow-hidden">
            <img class="w-full h-full object-cover" src=" /images/uploads/<%=elem.user.profileImage %>" alt="">

            </div>
            <div class="ml-2">
              <h4 class="text-sm md:text-base">  <%=elem.user.username %></h4>
              <h6 class="text-xs md:text-sm opacity-30">1d</h6>
            </div>
          </div>
  
          <div class="w-full h-96 mt-4 bg-sky-100 overflow-hidden">
            <img class="w-full h-full object-cover" src=" /images/uploads/<%=elem.picture %>" alt="">

          </div>
          <div
            class="options w-full px-4 flex justify-between items-center text-[1.4rem]"
          >
            <div class="flex gap-3 mt-2">
              <i class="ri-heart-3-line"></i>
              <i class="ri-chat-3-line"></i>
              <i class="ri-share-circle-line"></i>
            </div>
            <i class="ri-bookmark-line"></i>
          </div>
          <h3 class="px-4 mt-2 text-sm leading-none tracking-tight">
            <%=elem.likes.length %>likes
          </h3>
          <h2 class="text-white font-light text-sm mt-2">
            <span class="font-semibold pl-4 pr-2"><%=elem.user.username %>: </span><%=elem.caption%></h2>
        </div>
      <% })%>
    </div>
  </div>
  <% include ./partials/footer.ejs %>
</body>
